.contenedor-main {
    padding-top: 200px;
    display: flex;
}

.card-juego{
    border: solid 1px #081581;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}