.contenedor-main {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}

.card-juego{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .1);
    border-radius: 15px;
    height: 600px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.card-juego-img{
    border-radius: 15px 15px 0px 0px;
    width: 350px;
    height: 350px;
}
.card-juego-cont-info{
    margin-top: 1rem;
}
.carrito{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-left: 15px;
}
.carrito-btn{
    background-color: #fff;
    border: solid 1px #081581;
    padding: 0 20px;
}
.carrito-comprar{
    background-color: #081581;;
    border: solid 1px #081581;
    color: #fff;
    margin-right: 10px;
}

/* p{
    margin-bottom: 10px;
    margin-left: 15px;
} */

.titulo,.precio{
    font-size:x-large;
}

.contenedor-mas-info{
    width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
}
.descripcion{
    /* width: 500px; */
    overflow-wrap: normal;
}


.contenedor-info-juego{
    display: flex;
    gap: 2rem;
}
.contenedor-info-juego-btns{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}
.contenedor-info-juego-btns button{
    width: 150px;
}
.negrita{
    font-weight: 700;
}
.contenedor-entregas{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}