<div class="contenedor-main">

    <app-juegos hidden (envioJuegos) = "reciboJuegos($event)"></app-juegos>

    <article class="card-juego" *ngIf = "juego">
      
        <img src="{{ juego.imagenes }}" alt="img_1" class="card-juego-img"/>
        <p>{{ juego.nombre }}</p>
        <p>{{ juego.descripcion }}</p>
        <p>Precio : {{ juego.precio | currency}}</p>
        <p>Generos : {{ juego.genero }}</p>
        <p>Año de salida : {{ juego.anioRelease}}</p>
        <p>Consolas : {{ juego.consolas }}</p>
        <p>Requisitos : {{ juego.requisitos }}</p>
        <div class="carrito">
            <button class="carrito-btn"><i class='bx bx-cart'></i></button>
            <button class="carrito-comprar">Comprar</button>
        </div>
    </article>
</div>
