<div class="contenedor-main">
    <section class="contenedor-info-juego">
      <img src="{{ juego.imagenes }}" alt="img_1" class="card-juego-img" />
     
    <div>
      <p class="titulo">{{ juego.nombre }}</p>
      <p class="precio">{{ juego.precio | currency }}</p>
      <div class="contenedor-info-juego-btns">
        <button (click)="agregar(juego)" class="carrito-btn">
          <i class="bx bx-cart"></i>
        </button>
        <button (click)="comprar(juego)" class="carrito-comprar">
          Comprar
        </button>
      </div>
      <div class="contenedor-entregas">
        <p class="negrita">Entregas:</p>
        <p>Retiro en tienda. Gratis!</p>
        <p>Envíos a todo el país!</p>
        <p>
          Retiro en California 2385 - Ciudad de Buenos Aires:
          <span>DISPONIBLE</span>.
        </p>
        <p>* PRODUCTO DISPONIBLE</p>
      </div>
    </div>
  </section>
</div>

<div class="contenedor-mas-info">
  <ul class="nav nav-tabs">
    <li class="nav-item" data-toggle="tab" (click)="cambiar('descripcionTab')">
      <a id="descripcionTabLink" class="nav-link active"> Descripcion </a>
    </li>
    <li
      class="nav-item"
      data-toggle="tab"
      (click)="cambiar('datosTecnicosTab')"
    >
      <a id="datosTecnicosTabLink" class="nav-link"> Datos tecnicos </a>
    </li>
    <li class="nav-item" data-toggle="tab" (click)="cambiar('MismoGeneroTab')">
      <a id="MismoGeneroTabLink" class="nav-link"> Juegos del mismo genero </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="descripcionTab" class="descripcion">
      <p>{{ juego.descripcion }}</p>
    </div>
    <div id="datosTecnicosTab" hidden>
      <p>Nombre : {{ juego.nombre }}</p>
      <p>
        Consola :
        <span *ngFor="let consola of juego.consolas">{{ consola }}, </span>
      </p>
      <p>
        Generos :
        <span *ngFor="let genero of juego.genero">{{ genero }}, </span>
      </p>
      <p>Año de salida : {{ juego.anioRelease }}</p>
      <p>Requisitos : {{ juego.requisitos }}</p>
    </div>
    <div id="MismoGeneroTab" hidden>
      <app-juegos
        [juegosElegidos]="jParecidos"
        [indiceRecorrido]="paginatorFin"
        [indiceInicial]="paginatorInicio"
      ></app-juegos>
      <nav aria-label="juegosSimilares">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click) ="moverPaginator(-3)">Previous</a></li>
        <li class="page-item" *ngFor="let pag of jParecidos | paginas, let i = index">
          <a class="page-link" (click) = "setPaginator(i+1)">{{i+1}}</a>
        </li>
        <li class="page-item"><a class="page-link" (click) ="moverPaginator(3)">Next</a></li>
      </ul>
    </nav>
    </div>
  </div>
</div>
