<div class="position">
  <section class="redes-sociales">
    <div class="redes-sociales-ancho">
      <div class="redes-sociales-links">
        <a href="https://boxicons.com/?query=fac"
          ><i class="bx bxl-facebook-circle"></i
        ></a>
        <a href=""><i class="bx bxl-instagram"></i></a>
        <a href=""><i class="bx bxl-youtube"></i></a>
      </div>
      <button type="button" class="btn btn-light">Contacto</button>
    </div>
  </section>

  <header class="header">
    <div class="header-ancho">
      <img src="assets/logo.png" alt="img_logo" class="logo" (click) = "reset()"/>

      <div class="input-group mb-3">
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon1"
        >
          Button
        </button>
        <input
          type="text"
          class="form-control"
          placeholder="Que estas buscando?"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
          [(ngModel)] = "textoBuscar"
          (change) = "buscar()"
        />
      </div>

      <div class="header-login">
        <i class="bx bx-log-in"></i>
        <h3 (click)="abrirCerrarModalDeLog()" *ngIf="!estadLog">Ingresar</h3>
        <!-- <h3 (click)="abrirCerrarModalDeLog()" *ngIf="users.getEstadoLog()">Ingresar</h3> -->
        <h3  *ngIf="estadLog">Hola {{userPrueba.nombreUsuario}}</h3>
      </div>

      <div class="contenedor-carrito" *ngIf="!estadLog">
        <i class='bx bx-cart' (click) = "irCompra()"></i>
        <p class="contenedor-carrito-length" (click) = "verCarritoRapido()"> {{carrito.getCarrito().length}}</p>
      </div>
  
    </div>

    <nav class="header-nav">
      <a [routerLink] = "['']">Inicio</a>
      <a [routerLink] = "['/producto']">Productos</a>
      <a [routerLink] = "['/contacto']">Contacto</a>
    </nav>
  </header>
</div>

<section class="sombra" *ngIf="users.verModal">
  <div class="form-login">
    <h2 class="cerrar" (click)="abrirCerrarModalDeLog()">X</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)] = "capturarMail">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input  type="password" class="form-control" id="exampleInputPassword1"  [(ngModel)] = "capturarContrasenia">
    </div>
    <button type="submit" class="btn btn-primary" (click)="loguear()">Submit</button>
  </div>
</section>

