.redes-sociales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  height: 50px;
}
.redes-sociales-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.bxl-facebook-circle , .bxl-instagram, .bxl-youtube{
    color: #fff;
    font-size: 20px;
}
.btn-light{
    padding: 1px 20px;
    
}