<div class="position">
  <section class="redes-sociales">
    <div class="redes-sociales-ancho">
      <div class="redes-sociales-links">
        <a href="https://boxicons.com/?query=fac"><i class="bx bxl-facebook-circle"></i></a>
        <a href=""><i class="bx bxl-instagram"></i></a>
        <a href=""><i class="bx bxl-youtube"></i></a>
      </div>
      <button type="button" class="btn btn-light" (click)="navegar()">Contacto</button>
    </div>
  </section>

  <header class="header">
    <div class="header-ancho">
      <img src="assets/logo.png" alt="img_logo" class="logo" (click)="reset()" />

      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">
          Button
        </button>
        <input type="text" class="form-control" placeholder="Que estas buscando?"
          aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="textoBuscar"
          (change)="buscar()" />
      </div>

      <div class="header-login">
<!-- 
        <button (click)="pasar()"> PASAR DE LARGO</button> -->

        <i class="bx bx-log-in"></i>
        <h3 (click)="abrirCerrarModalDeLog()" *ngIf="!estadLog"> Ingresar </h3>
        <!-- <h3 (click)="abrirCerrarModalDeLog()" *ngIf="users.getEstadoLog()">Ingresar</h3> -->
        <h3 (click)="loguearAfuera()" *ngIf="estadLog"> Hola {{userPrueba}}!!</h3>
      </div>

      <div class="contenedor-carrito" *ngIf="estadLog">

        <i class='bx bx-cart' (click)="irCompra()"></i>
        <!-- <p class="contenedor-carrito-length" (click) = "verCarritoRapido()"> {{carrito.getCarrito().length}}</p> -->

     
          <button class="contenedor-carrito-length" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#items" aria-controls="items"
            (click)="abrirCarritoRapido()">
            {{carritoCant}}
          </button>
     
  
          <div class="contenedor-info-carrito" id="items">
            <div class="card" style="width: 500px;" *ngIf="carritoRapidoView">

              <table class="table">
                <thead>
                  <tr>
                    <td *ngFor="let titulo of titulosItems"> {{titulo}} </td>
                  </tr>
                </thead>
                <tbody *ngFor="let item of items, let indice = index">
                  <tr>
                    <td> {{item.nombre}} </td>
                    <td> {{item.cantidad}} </td>
                    <td> {{item.precio}} </td>
                    <td style="color: tomato;" (click)="eliminar(indice, item)"> x </td>
                  </tr>
                </tbody>
                 
              </table>
              <button class="boton-ver-detalle" (click) = "irCompra()"> Ir a la compra </button> 
            </div>
          </div>
   

      </div>

    </div>

    <nav class="header-nav">
      <a [routerLink]="['']">Inicio</a>
      <a [routerLink]="['/producto']">Productos</a>
      <a [routerLink]="['/contacto']">Contacto</a>
    </nav>

  </header>
</div>

<section class="sombra" *ngIf="users.verModal">
  <div class="form-login">
    <h2 class="cerrar" (click)="abrirCerrarModalDeLog()">X</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        [(ngModel)]="capturarMail">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="capturarContrasenia">
    </div>
    <button type="submit" class="btn btn-primary" (click)="loguear()">Submit</button>
  </div>
</section>