.position {
  position: fixed;
  top: 0;
  z-index: 20;
}
.redes-sociales {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}
.redes-sociales-ancho {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  width: 200px;
  cursor: pointer;
}
.redes-sociales-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.bxl-facebook-circle,
.bxl-instagram,
.bxl-youtube {
  color: #fff;
  font-size: 20px;
}
.btn-light {
  padding: 1px 20px;
}


.bx-cart{
  font-size: 40px;
}

.contenedor-carrito{
  position: relative;
  cursor: pointer;
}

.contenedor-carrito-length{
  background-color: #081581;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  right: -10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 20;
}
.header-ancho {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.input-group {
  width: 480px;
  height: 20px;
}
.header-login {
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}
.header-login h3 {
  font-size: 18px;
}
.bx-log-in {
  font-size: 22px;
}
.header-nav {
  background-color: #081581;
  width: 100vw;
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.2rem;
}
.header-nav a {
  text-decoration: none;
  color: #fff;
  gap: 0.5rem;
}


.sombra{
  position: fixed;
  background-color: rgb(0, 0, 0 , 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-login{
  background-color: #fff;
  width: 700px;
  padding: 2rem;
  border-radius: 15px;
  position: relative;
}
.cerrar{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}