.contenedor-main {
  padding-top: 190px;
}
.tamaño {
  width: 100%;
  height: 480px;
}
.ancho-default {
  width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
}
.ancho-default h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.bg {
  background-color: #ff6347;
  display: flex;
}
.contenedor-carrito {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.center {
  text-align: center;
  padding-top: 5rem;
}
.section-productos{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-productos-contenedor-title{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-productos div h2{
  font-weight: 700;
  color: #081581;
}
.section-productos div span{
  width: 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.ancho{
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .ancho-default {
    width: 90%;
  }
  .contenedor-carrito {
    width: 90%;
    margin-top: 0 auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
