<main class="contenedor-main">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="imagenes.dos" class="d-block w-100 tamaño" alt="img" />
        <div class="carousel-caption d-none d-md-block">
          <h5>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, iure.!
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img [src]="imagenes.uno" class="d-block w-100 tamaño" alt="img" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h5>
          <p>Lorem ipsum dolor sit amet consectetur.!!!.</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img [src]="imagenes.tres" class="d-block w-100 tamaño" alt="img" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Y recuerden....</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim!</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="section-productos">
    <div class="section-productos-contenedor-title">
      <span></span>
      <h2>¡LOS MAS BUSCADOS!</h2>
      <span></span>
    </div>

    <div class="section-productos-contenedor-prodcutos">
      <div class="ancho">
        <app-juegos [indiceRecorrido]="6" [juegosElegidos]="misJuegos"></app-juegos>
      </div> 
    </div>
    <button class="btn" [routerLink]="['/producto']">Ver todos los juegos</button>
  </section>
</main>
