.contenedor-juegos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.card-juego{
    border: solid 1px #081581;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}